# Ignore Python virtual environment
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore large data files
Data/nvdcve-*.json
Data/cves_*.csv

# Ignore generated reports
cve_report.csv
cve_report.xlsx

# Ignore OS-specific files
.DS_Store
Thumbs.db
